.logo {
    width: 40px;
    height: 40px;
}
body {
    background: #f3f3f3;
}
.main {
    background: #fff;
    width: 860px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}
.page-title {
    text-align: center;
}